@model GlobusRemote.Areas.MobileBooks.Models.FilesItemViewModel
@*@model GlobusRemote.Data.Computer*@
@using Localize = GlobusRemote.Localize.Index

<div class="modal-content">
    <div class="modal-header">
        <button class="close" data-dismiss="modal" area-hidden="true">X</button>
        <h4>Модель компьютера</h4>
    </div>
    <div class="modal-body">
        <dl class="dl-horizontal">
            <dt>@Localize.Field_Base_Name:</dt>
            @*<dd>@Html.DisplayFor(model => model.Fname)</dd>*@
            <dt>@Localize.Field_Base_Extention:</dt>
            @*<dd>@Html.DisplayFor(model => model.Fextention)</dd>*@
        </dl>
    </div>
</div>