@model GlobusRemote.Models.BaseListViewModel<GlobusRemote.Areas.MobileBooks.Models.FilesItemViewModel>
@using Localize = GlobusRemote.Localize.Index

@{
    ViewData["Title"] = @Localize.MobileBooksPage_Files_Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@await Html.PartialAsync("_ControlListPartial")
<div class="divTable">
    <div class="divTableBody">
        <div class="divTableHeadRow">
            @await Html.PartialAsync("_HeaderListPartial")
        </div>
        @foreach (var item in Model.Items)
        {
            <div class="divTableRow">
                @foreach (var column in Model.Header.Columns)
                {
                    <div>
                        @item[column.PropertyName]
                    </div>
                }
                <div>
                    @{
                        await Html.RenderPartialAsync("_ControlItemPartial", item.EditInfo);
                    }
                </div>
            </div>
        }
    </div>
</div>

<div id='editModal' class='modal fade in'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div id='editModalContent'>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/js/edit.js"></script>
}