@using Localize = GlobusRemote.Localize.Index

<div class="btn-group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
        <img id="lang-current" /> <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
        <li class="lang-ru hidden"><a href="#" id="lang-ru"><img src="~/img/lang-ru.png" />Русский</a></li>
        <li class="lang-en hidden"><a href="#" id="lang-en"><img src="~/img/lang-en.png" />English</a></li>
    </ul>
</div>